<div id="sobre" class="secao-container">
      <div class="container-descricao">
        <h2>SOBRE A POUSADA!</h2>
        <p>Conheça um pouco sobre nossa pousada.</p>
      </div>
      <div class="container-cards">
        <div class="card">
          <div class="container-card-descricao">
            <h3>A pousada</h3>
            <p>
              A Pousada Dev dispõe de estacionamento privativo gratuito, piscina
              ao ar livre e bar.
            </p>
          </div>
          <div class="container-card-img">
            <img src="assets/img1.jpg" alt="Faixada" title="Faixada" />
          </div>
        </div>
        <div class="card">
          <div class="container-card-descricao">
            <h3>Nossos quartos</h3>
            <p>
              Os quartos oferecem TV`s com canais a cabo, cozinha compacta e área de refeições,
              além de ar-condicionado e guarda-roupa.
            </p>
          </div>
          <div class="container-card-img">
            <img src="assets/img2.jpg" alt="Quartos" title="Quartos" />
          </div>
        </div>
        <div class="card">
          <div class="container-card-descricao">
            <h3>Alimentação</h3>
            <p>
              A pousada serve café da manhã em estilo continental ou buffet.
              Nossos restaurantes funcionam 24hrs.
            </p>
          </div>
          <div class="container-card-img">
            <img src="assets/img3.jpg" alt="Restaurante" title="Restaurante" />
          </div>
        </div>
        <div class="card">
          <div class="container-card-descricao">
            <h3>Recepção</h3>
            <p>Nossa recepção fica aberta 24hrs.</p>
          </div>
          <div class="container-card-img">
            <img src="assets/img5.jpg" alt="Recepção" title="Recepção" />
          </div>
        </div>
      </div>
</div>

