<div class="banner">
      <div class="container-titulo-site">
        <h1>Pousada Secreta</h1>
        <p>A pousada reservada em Angra dos Reis</p>
      </div>
    </div>

    <div id="bem-vindo" class="secao-container limitar-secao">
      <div class="container-descricao">
        <h2>SEJA BEM-VINDO(A)!</h2>
        <p>Relaxe em nossas acomodações e curta o melhor de Angra dos Reis.</p>
        <p>Temos quartos para solteiro, casal ou família.</p>
      </div>
      <div class="container-quartos">
        <div class="quarto">
          <img src="assets/quarto-solteiro1.jpg" alt="Quarto de solteiro" title="Quarto de solteiro" />
          <a href="quartos.html#solteiro">
            <p>Quarto de Solteiro</p>
          </a>
        </div>
        <div class="quarto">
          <img src="assets/quarto-casal1.jpg" alt="Quarto de casal" title="Quarto de casal" />
          <a href="quartos.html#casal">
            <p>Quarto de Casal</p>
          </a>
        </div>
        <div class="quarto">
          <img src="assets/quarto-familia1.jpg" alt="Quarto família" title="Quarto família" />
          <a href="quartos.html#familia">
            <p>Quarto Família</p>
          </a>
        </div>
      </div>
    </div>